.github/.DS_Store

# if using VSCode
.vscode/

# flake8 config
setup.cfg

# node modules
node_modules/

htmlcov/

# tests
audits/

# venv
.venv/
venv/

.env
# __pycache__
src/__pycache__

#settings
development.py

*.logs
*/logs
logs/

# when you use pytest editable
covid19_estimator_py.egg-info/